asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
distlib
Django
django-crispy-forms
django-mathfilters
filelock
idna
pillow
platformdirs
pycparser
requests
sqlparse
sslcommerz-lib
urllib3
virtualenv