<footer class="footer bg-blue-900 text-white border-b-2">
    <div class="w-full px-4">
        <div class="mt-2 flex flex-col items-center">
            <div class="w-full text-center py-1 pb-1">
                <p class="text-xs text-white font-bold mb-1">
                    © {% now "Y" %} Rakib,
                    all right reserve By: <a href="https://www.facebook.com/00mRicE69" target="_blank"
                        class="text-aquamarine hover:text-blue-300 transition-colors">Md.Rakibul Islam</a>
                </p>
            </div>
        </div>
    </div>
</footer>